[Unit]
Description=Run cleanup_logs.service daily at 00:30

[Timer]
Unit=cleanup_logs.service
OnBootSec=120
OnCalendar=*-*-* 00:30:00
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target
